*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    color: #636363;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    padding: 40px 0;
    z-index: 9999;
}

header .header_content{
    display: flex;
    justify-content: space-between;
    align-items:center;

}

header .header_nav{
    display: flex;
    align-items: center;
}

.header_nav nav{
    display: flex;
    align-items: center;
}


header .header_nav ul li{
    list-style: none;
    display: inline;    
    padding: 55px 15px;
}
header .header_nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
header .header_nav ul li a span{
    display: inline-block;
    transition: all 1s;
}
header .header_nav ul li a:hover{
    color: #f55f8d;
    
}
header .header_nav ul li a:hover span{
    animation: uptodown 0.3s;

}
@keyframes uptodown{
    49%{
        transform: translateY(100%);
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    51%{
        opacity: 1;
    }
}

.button_nav{
    padding: 20px 35px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size:contain;
    border: 1px;
    border-radius: 30px;
    color: white;
    text-align: center;
    transition: 0.5s;
    background-size: 200%;
    margin-left: 60px;
    
}
.button_nav:hover{
    background-position: right center;
  }

/* banner */
.banner{
    background-image:url(./../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-size: 100%;
    margin-top: 60px;
   
}
.banner .banner_content{
    display: flex;
    align-items: center;
}
.banner_left{
    width: 60%;

}
.banner_right{
    width: 40%;
}
.banner_right img{
    width: 100%;
}
.banner_left .banner_title p{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner_left .banner_title h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px ;
    color: black;
}

.banner_left .banner_list p{
    font-size: 18px;
    margin-bottom: 20px;
}
.banner_left .banner_list ul li {
list-style: none;
}

.banner_left .banner_list ul li i{
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 50%;
    color:white;
    background-size: 200%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    margin-right: 15px;
}
.banner_left .banner_list ul li{
    padding: 10px 5px 10px 0;
    font-size: 20px;}
.banner .banner_left button{
    padding: 20px 35px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200px;
    border: 1px;
    border-radius: 30px;
    color: white;
    text-align: center;
    transition: 0.5s;
    background-size: 200%;
    margin-top: 20px;
}

/* services */
.ser{
    margin-top: 100px;
    text-align: center;
 background-image: url(./../img/pic2.png);
 background-size: cover;
 background-position: top center;

}
.ser .ser_title p{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}
.ser .ser_title h1{
    font-size: 80px;
    color: black;
}
.ser_content{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   margin-top: 80px;
}

.ser_content .ser_item img{
    width: 100%;
}
.ser_content  .ser_item{
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 45px;
    border: 3px;
    transform: translateY(0);
    transition: all 0.5s;
    /* border-image: 100 round; */
    border:  3px solid transparent;
    border-radius: 0.5rem;


}
 .ser_content .ser_item:hover{
    transform: translateY(-20px);
    border-image: url(./../img/br.png) 1 round;
}
.ser_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

/* about */
.about{
    background-image: url(./../img/bg15.png);
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
     overflow: hidden;
     margin-top: 60px;
     overflow: hidden;
}

.about .about_content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.about_cotent .about_left{
    width: 60%;
}

.about_right {
    width: 40%;
}

.about_left img {
    width: 90%;
    border-radius: 0 100px 100px 0;
}

.about_right .title_right p{
    color: #f55f8d;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}
.about .title_right h2{
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
}
.about .about_right .content_right p{
    margin-bottom: 15px;
}
.about .about_right .content_right ul{
    list-style: none;
    margin-bottom: 10px;
}
.about .about_right .content_right ul li{
    padding: 10px 0;
}
.about .about_right .content_right ul li i{
    color: #f55f8d;
    margin-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}
.about .about_right .content_right button{
    padding: 20px 35px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200px;
    border: 1px;
    border-radius: 30px;
    color: white;
    text-align: center;
    transition: 0.5s;
    background-size: 200%;
}


/* number */
.number{
    background-image: url(./../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
    height: 100%;
    padding: 80px 0 50px;
}

.number .number_content{
    display: flex;
    justify-content: space-around;
}

.number .number_content{
    text-align: center;

}
.number .number_content i{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    font-size: 45px;
    background-size: 200%;
color: white;
line-height: 80px;
display: inline-block;
margin-bottom: 15px;
}
.number .number_content p:first-of-type{
    color: #f55f8d;
    font-size: 65px;
    font-weight: 800;
    line-height: 1;
}

/* feature */
.feature{
    background-image: url(./../img/bg2.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 40px;
}
.feature_content{
    display: flex;
}
.feature_left,.feature_right{
    width: 50%;
}
.feature_left .title p{
    color: #f55f8d;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;


}
.feature_left .title h2{
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
}
.feature_right img{
    width: 100%;
    animation: move 5s infinite;

} 
.feature_item{
    padding:  0 50px 30px 0;
    text-align: center;
  
}
.feature_group .feature_item .feature_bg{
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    /* padding:  0 50px 30px 0; */
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    position: relative;

}

.feature_item .feature_bg:after{
content: "";
background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
background-size: 200%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0;
transition: all 0.5s;
border-radius: 10px;

}
.feature_item .feature_bg:hover:after{
    opacity: 1;
}

.feature_bg i{
    color: #f55f8d;
    font-size: 80px;
    margin-right: 20px;
    z-index: 1;
}
.feature_bg h3{
    font-weight: 800;
    color: #262626;
    font-size:30px;
    margin: 15px;

}

.feature_item:nth-of-type(2){
    padding: 0 0 30px 50px;
}

.feature_item div{
    z-index: 1;

}
.feature_bg:hover i,
.feature_bg:hover div,
.feature_bg:hover h3 {
    color: #fff;
}


@keyframes move {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

/* port */
.port{
    margin-top: 20px;
    text-align: center;
}
.port .port_title p{

        color: #f55f8d;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 15px;
}
.port .port_title h2{
        font-size: 50px;
        line-height: 1.1;
        font-weight: 700;
        color: #262626;
        margin-bottom: 20px;
}
.port_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 20px;

}
.port_content .port_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}
.port_content .port_img:first-of-type{
    grid-column: 1/ span 2;
}
.port_content .port_img:nth-of-type(5){
    grid-column: 1/ span 2;
}
.port_content .port_img:last-of-type{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}
.port_content .port_img{
    position: relative;
    border-radius: 10px;
}
.port_content .port_img .port_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.port_content .port_overlay .port_icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}
.port_content .port_overlay .port_text{
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(150px);
    transition: all 0.75s;
}

.port_img:hover .port_icon {
    transform: translate(0);
}

.port_img:hover .port_text {
    transform: translateY(0);
}
.port_img:hover .port_overlay {
    opacity: 1;
}
/* 
.port_img::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.port_img:hover::before {
    left: 125%;
} */

/* blog */
.blog{
    margin-top: 40px;
    text-align: center;
    background-image: url(./../img/bg16.png);
    background-position:top center;
    background-size: cover;
    padding-bottom: 50px;
    
}
.blog .blog_title p{

        color: #f55f8d;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 15px;
}
.blog .blog_title h2{
        font-size: 50px;
        line-height: 1.1;
        font-weight: 700;
        color: #262626;
        margin-bottom: 20px;
}
.blog_item {
    text-align: left;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
   padding: 30px;
   margin-right: 30px;
}
.blog_header {
    position: relative;

}

.blog_header img {
    width: 100%;
    border-radius: 8px;
}
.blog_header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    ;
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog_body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog_body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog_footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}

.blog_footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog_footer p:first-of-type {
    margin-right: 20px;
}

.blog_footer p:first-of-type span {
    color: #f55f8d;
}
.blog_header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    ;
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog_body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog_body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog_footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}
/* footer */
footer {
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

footer::before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer__top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

    display: flex;
}

.footer__text,
.footer__form {
    width: 50%;
}

.footer__text h2 {
    font-size: 28px;
    color: #262626;
}

.footer__form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer__form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all .5s;
}

.footer__form input:focus,
.footer__form input:hover {
    border-color: #f55f8d;
}

.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}

.footer__form button:hover {
    background-position: right center;
}

.footer__form button:hover i {
    animation: toLeftFromRight 0.5s forwards;
    display: inline-block;
}

.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__bottom .footer__item a{
text-decoration: none;
}

.footer__item {
    width: 25%;
}

.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer__item h3::before,
.footer__item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.footer__item h3::before {
    width: 15px;
}

.footer__item h3::after {
    width: 45px;
    left: 20px;
}

.footer__contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;

}

.footer__item li {
    padding: 0.5rem 0;
    list-style: none;
}

.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer__item a:hover {
    color: white;
}


.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__left span {
    color: #f55f8d;
}

.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

.footer__copyright a:hover {
    background: #f55f8d;
}

/* BACK TO TOP */
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
